<!DOCTYPE html>
{% extends 'home.html' %}
{% load static %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body >
<section class="section-content padding-y bg" style="min-height:75vh">
	<div class="container">

		<!-- ============================ COMPONENT 1 ================================= -->
			<div class="row">
				<aside class="col-lg-7">
					<div class="card mb-2">
					  	<h4 class="card-header">Billing Address</h4>
					  	<div class="card-body">
							<p class="card-text mb-0">{{ order.full_name }}</p>
							<p class="card-text mb-0">{{ order.full_address }}</p>
							<p class="card-text mb-0">{{ order.street }},{{ order.city }}</p>
							<p class="card-text mb-0">{{ order.district }},{{ order.state }},{{ order.country }}</p>
							<p class="card-text mb-0">Pincode {{ order.postal_code }}</p>
							<p class="card-text mb-0">Mobile : {{ order.phone }}</p>
							<p class="card-text mb-0">Email : {{ order.email }}</p>
							{% if order.order_note %}
								<p class="card-text mb-0"><b>Order note: </b>{{ order.order_note }}</p>
							{% endif %}
					  	</div>
					</div>
					<div class="card mb-2">
					  	<h4 class="card-header">Payment Method</h4>
					  	<div class="card-body">
							<p class="card-text"></p>


					  	</div>
					</div>
					<div class="card mb-2">
					  	<h4 class="card-header">Review Products</h4>
					  	<div class="card-body">
							<table class="table table-borderless table-shopping-cart">
								<thead class="text-muted">
									<tr class="small text-uppercase text-center">

										<th scope="col" width="120">Product</th>
										<th scope="col" width="120">Quantity</th>
										<th scope="col" width="120">Price</th>

									</tr>
								</thead>
								<tbody>
									{% for items in cart_items %}
										<tr>
											<td >
												<figure class="itemside align-items-center ">
													<div class="aside"><img src="{{ items.product.image.url }}" class="img-sm"></div>
														<figcaption class="info" style="padding-left:50px;">
														<a href="{{ items.product.get_url }}" class="title text-dark ">{{ items.product.product_name }}</a>
														<p class="text-muted small">
															{% if items.variations.all %}
																{% for item in items.variations.all %}
															{{ item.variation_category | capfirst }} : {{ item.variation_value | capfirst }}
																<br>
																	{% endfor %}

																{% endif %}
															</p>
													</figcaption>
												</figure>
											</td>
											<td>
												<p class=" text-center ">{{ items.quantity }}</p>
											<td>
												<div class="price-wrap">
													<var class="price text-center">${{ items.sub_total }}</var>

												</div> <!-- price-wrap .// -->
											</td>

										</tr>
									{% endfor %}
								</tbody>
							</table>
					  	</div>
					</div>

				</aside> <!-- col.// -->
				<aside class="col-lg-5">
					<div class="card">
						<div class="card-body">
							<dl class="dlist-align">
								<dt>Total price:</dt>
								<dd class="text-right">${{ total }}</dd>
							</dl>
							<dl class="dlist-align">
								<dt>Tax ( 9% ) :</dt>
								<dd class="text-right">${{ tax }}</dd>
							</dl>
							<dl class="dlist-align">
								<dt>Total : </dt>
								<dd class="text-right text-dark b"><strong>${{ grand_total }}</strong></dd>
							</dl>
							<hr>
							<p class="text-center mb-3">
								<img src="{% static './images/misc/payments.png' %}" height="26">
							</p>
							<div id="paypal-button-container">
<!--								paypal button will load-->

							</div>
						</div> <!-- card-body.// -->
					</div> <!-- card.// -->
				</aside> <!-- col.// -->
			</div> <!-- row.// -->
		<!-- ============================ COMPONENT 1 END .// ================================= -->
	</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

</body>

<script>
	function getCookie(name) {
      	let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
        	const cookies = document.cookie.split(";");
          	for (let i = 0; i < cookies.length; i++) {
            	const cookie = cookies[i].trim();
            	// Does this cookie string begin with the name we want?
            	if (cookie.substring(0, name.length + 1) === name + "=") {
              		cookieValue = decodeURIComponent(
                		cookie.substring(name.length + 1)
              	);
              	break;
            	}
          	}
        }
        return cookieValue;
    }

    let amount = "{{grand_total}}"; //sending grandtotal from context so it is available here as well
    let url = "{% url 'payments' %}";
    let csrf_token = getCookie("csrftoken");
    let orderID = "{{ order.order_Number }}";
    let payment_method = "PayPal";
    let redirect_url = "{% url 'order_completed' %}";

    paypal.Buttons({
        style:{
      		color:  'blue',
            shape:  'rect',
            label:  'pay',
            height: 40
        },
         //Takes amount of order and create order
         createOrder: function (data, actions) {
             return actions.order.create({
                 purchase_units: [
                     {
                         amount: {
                    	     value: amount,
                  		 },
                	 },
              	 ],
             });
         },

         //response if the payment is successful or fail
         onApprove: function (data, actions) {
             return actions.order.capture().then(function (details) {
             	 console.log(details);
              	 function sendData() {
                	 // Function that will send data to our view, using fetch
                	 fetch(url, {
                  		 method: "POST",
                  		 headers: {
                    		 "Content-type": "application/json",
                  			 "X-CSRFToken": csrf_token,
                  		 },
                  		 body: JSON.stringify({
							 orderID: orderID,
							 transID: details.id,
							 payment_method: payment_method,
							 status: details.status,
						 }),
                	 })
                  	 .then((response) => response.json())
                  	 .then((data) => {
                    	 window.location.href =redirect_url + "?order_number=" + data.order_number + "&payment_id=" +data.transID;
                  	 });
              	 }
				 sendData();
				 alert(
					 "Transaction completed by " +
					 details.payer.name.given_name +
					 "!"
				 );

             });
         },
    }).render("#paypal-button-container");
</script>


</html>


{% endblock %}