<!DOCTYPE html>
{% extends 'home.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="section-content padding-y bg">
    <div class="container">
    <!-- ============================ COMPONENT 2 ================================= -->
        <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
        <div class="row">
            <main class="col-md-8">
                    <article class="card mb-4">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Review cart</h4>

                            <div class="row">
                                {% for items in cart_items %}
                                <div class="col-md-6">
                                    <figure class="itemside  mb-4">
                                        <div class="aside"><img src="{{ items.product.image.url }}" class="border img-sm"></div>
                                        <figcaption class="info">
                                            <h3>{{ items.product.product_name }}</h3>
                                            <span class="text-muted">
                                            {% if items.variations.all %}
                                                {% for item in items.variations.all %}
                                                    {{ item.variation_category | capfirst }} : {{ item.variation_value | capfirst }}
														<br>
                                                {% endfor %}

                                            {% endif %}
                                            </span>
                                            <span>Quantity : {{ items.quantity }}</span><br>
                                            <span>Price : $ {{ items.sub_total }} </span>
                                        </figcaption>
                                    </figure>
                                </div> <!-- col.// -->
                                {% endfor %}
                            </div> <!-- row.// -->
                        </div> <!-- card-body.// -->
                    </article> <!-- card.// -->


                    <article class="card mb-4">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Contact info</h4>

                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label>First name<span class="text-danger">*</span></label>
                                        <input type="text" placeholder="Type here" class="form-control" required>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Last name</label>
                                        <input type="text" placeholder="Type here" class="form-control">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Mobile<span class="text-danger">*</span></label>
                                        <input type="text" value="+91" class="form-control" required>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Email</label>
                                        <input type="email" placeholder="example@gmail.com" class="form-control">
                                    </div>
                                </div> <!-- row.// -->

                        </div> <!-- card-body.// -->
                    </article> <!-- card.// -->


                    <article class="card mb-4">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Delivery info</h4>

                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label>Address Line 1<span class="text-danger">*</span></label>
                                        <input type="text" placeholder="Flat No / House No, House Name" class="form-control" required>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label>Address Line 2<span class="text-muted">(Optional)</span></label>
                                        <input type="text" placeholder="Additional Address Details" class="form-control">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Street<span class="text-danger">*</span></label>
                                        <input type="text" placeholder="Type here" class="form-control" required>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>City<span class="text-danger">*</span></label>
                                        <input type="text" placeholder="Type here" class="form-control" required>
                                    </div>

                                    <div class="form-group col-sm-6">
                                        <label>District<span class="text-danger">*</span></label>
                                        <input type="text" placeholder="" class="form-control" required>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>State<span class="text-danger">*</span></label>
                                        <input type="text" placeholder="Type here" class="form-control" required>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Postal code<span class="text-danger">*</span></label>
                                        <input type="text" placeholder="" class="form-control" required>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Country<span class="text-danger">*</span></label>
                                        <select name="" class="form-control" required>
                                            <option value="" disabled selected>Choose Country</option>
                                            <option value="">India</option>
                                            <option value="">United States</option>
                                            <option value="">France</option>
                                            <option value="">Italy</option>
                                        </select>
                                    </div>

                                </div> <!-- row.// -->
                        </div> <!-- card-body.// -->
                    </article> <!-- card.// -->


                    <article class="accordion" id="accordion_pay">
                        <div class="card">
                            <header class="card-header">
                                <img src="./images/misc/payment-paypal.png" class="float-right" height="24">
                                <label class="form-check collapsed" data-toggle="collapse" data-target="#pay_paynet">
                                    <input class="form-check-input" name="payment-option" checked type="radio" value="option2">
                                    <h6 class="form-check-label">
                                        Paypal
                                    </h6>
                                </label>
                            </header>
                            <div id="pay_paynet" class="collapse show" data-parent="#accordion_pay">
                                <div class="card-body">
                                    <p class="text-center text-muted">Connect your PayPal account and use it to pay your bills. You'll be redirected to PayPal to add your billing information.</p>
                                    <p class="text-center">
                                        <a href="#"><img src="./images/misc/btn-paypal.png" height="32"></a>
                                        <br><br>
                                    </p>
                                </div> <!-- card body .// -->
                            </div> <!-- collapse .// -->
                        </div> <!-- card.// -->
                        <div class="card">
                            <header class="card-header">
                                <img src="./images/misc/payment-card.png" class="float-right" height="24">
                                <label class="form-check" data-toggle="collapse" data-target="#pay_payme">
                                    <input class="form-check-input" name="payment-option" type="radio" value="option2">
                                    <h6 class="form-check-label"> Credit Card  </h6>
                                </label>
                            </header>
                            <div id="pay_payme" class="collapse" data-parent="#accordion_pay">
                                <div class="card-body">
                                    <p class="alert alert-success">Some information or instruction</p>
                                    <form class="form-inline">
                                        <input type="text" class="form-control mr-2" placeholder="xxxx-xxxx-xxxx-xxxx" name="">
                                        <input type="text" class="form-control mr-2" style="width: 100px"  placeholder="dd/yy" name="">
                                        <input type="number" maxlength="3" class="form-control mr-2"  style="width: 100px"  placeholder="cvc" name="">
                                        <button type="submit" class="btn btn btn-success">Button</button>
                                    </form>
                                </div> <!-- card body .// -->
                            </div> <!-- collapse .// -->
                        </div> <!-- card.// -->
                    </article>
                <!-- accordion end.// -->
                </main> <!-- col.// -->
                <aside class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <dl class="dlist-align">
                                <dt>Total price :</dt>
                                <dd class="text-right">${{ total }}</dd>
                            </dl>
                            <dl class="dlist-align">
                                <dt>Tax ( 9% ) :</dt>
                                <dd class="text-right">${{ tax }}</dd>
                            </dl>
                            <dl class="dlist-align">
                                <dt>Total:</dt>
                                <dd class="text-right text-dark b"><strong>${{ grand_total }}</strong></dd>
                            </dl>
                            <hr>
                            <p class="text-center mb-3">
                                <img src="{% static 'images/misc/payments.png' %}" height="26">
                            </p>
                                <button type="submit" name="submit" class="btn btn-primary btn-block"> Place Order </button>
                        </div> <!-- card-body.// -->
                    </div> <!-- card.// -->
                </aside> <!-- col.// -->

        </div> <!-- row.// -->
        </form>
    <!-- ============================ COMPONENT 2 END//  ================================= -->
    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


</body>
</html>
{% endblock %}