<!DOCTYPE html>
{% extends 'home.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="section-content padding-y bg">
    <div class="container">
    <!-- ============================ COMPONENT 2 ================================= -->
        <form action="{% url 'place_order' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <main class="col-md-7">
                    <article class="card mb-4">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Review cart</h4>

                            <div class="row">
                                {% for items in cart_items %}
                                <div class="col-md-6">
                                    <figure class="itemside  mb-4">
                                        <div class="aside"><img src="{{ items.product.image.url }}" class="border img-sm"></div>
                                        <figcaption class="info">
                                            <h4>{{ items.product.product_name }}</h4>
                                            <span class="text-muted">

                                            {% if items.variations.all %}
                                                {% for item in items.variations.all %}
                                                    {{ item.variation_category | capfirst }} : {{ item.variation_value | capfirst }}
														<br>
                                                {% endfor %}

                                            {% endif %}
                                            </span>
                                            <span>Quantity : {{ items.quantity }}</span><br>
                                            <span>Price : $ {{ items.sub_total }} </span>
                                        </figcaption>
                                    </figure>
                                </div> <!-- col.// -->
                                {% endfor %}
                            </div> <!-- row.// -->
                        </div> <!-- card-body.// -->
                    </article> <!-- card.// -->


                    <article class="card mb-4">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Contact info</h4>

                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label>First name<span class="text-danger">*</span></label>
                                        <input type="text"  name="first_name" placeholder="Type here" class="form-control" required>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Last name</label>
                                        <input type="text" name="last_name" placeholder="Type here" class="form-control">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Mobile<span class="text-danger">*</span></label>
                                        <input type="text" name="phone"  class="form-control" required>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Email</label>
                                        <input type="text" name="email" placeholder="example@gmail.com" class="form-control">
                                    </div>
                                </div> <!-- row.// -->

                        </div> <!-- card-body.// -->
                    </article> <!-- card.// -->


                    <article class="card mb-4">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Delivery info</h4>

                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label>Address Line 1<span class="text-danger">*</span></label>
                                        <input type="text" name="address_line_1" placeholder="Flat No / House No, House Name" class="form-control" required>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label>Address Line 2<span class="text-muted">(Optional)</span></label>
                                        <input type="text" name="address_line_2" placeholder="Additional Address Details" class="form-control">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Street<span class="text-danger">*</span></label>
                                        <input type="text" name='street' placeholder="Type here" class="form-control" required>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>City<span class="text-danger">*</span></label>
                                        <input type="text" name='city' placeholder="Type here" class="form-control" required>
                                    </div>

                                    <div class="form-group col-sm-6">
                                        <label>District<span class="text-danger">*</span></label>
                                        <input type="text" name='district' placeholder="" class="form-control" required>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>State<span class="text-danger">*</span></label>
                                        <input type="text" name='state' placeholder="Type here" class="form-control" required>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Postal code<span class="text-danger">*</span></label>
                                        <input type="text" name='postal_code' placeholder="" class="form-control" required>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Country<span class="text-danger">*</span></label>
                                        <input type="text" name='country' placeholder="country" class="form-control" required>

                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label>Order Note</label>
                                        <input type="text" name="order_note" placeholder=""  class="form-control" >
                                    </div>

                                </div> <!-- row.// -->
                        </div> <!-- card-body.// -->
                    </article> <!-- card.// -->



                <!-- accordion end.// -->
                </main> <!-- col.// -->
                <aside class="col-md-5">
                    <div class="card">

                        <div class="card-body">
                            <dl class="dlist-align">
                                <dt>Total price :</dt>
                                <dd class="text-right">${{ total }}</dd>
                            </dl>
                            <dl class="dlist-align">
                                <dt>Tax ( 9% ) :</dt>
                                <dd class="text-right">${{ tax }}</dd>
                            </dl>
                            <dl class="dlist-align">
                                <dt>Total:</dt>
                                <dd class="text-right text-dark b"><strong>${{ grand_total }}</strong></dd>
                            </dl>
                            <hr>
                            <p class="text-center mb-3">
                                <img src="{% static 'images/misc/payments.png' %}" height="26">
                            </p>
                            <button type="submit" name="submit" class="btn btn-primary btn-block"> Place Order </button>
                        </div> <!-- card-body.// -->
                    </div> <!-- card.// -->
                </aside> <!-- col.// -->
            </div> <!-- row.// -->
        </form>
    <!-- ============================ COMPONENT 2 END//  ================================= -->
    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


</body>
</html>
{% endblock %}